.head{
    display: flex;
   align-items: center;
   justify-content: space-around;
    height: 63px;
    background-color: #40920e;
    width: 100%;
    z-index: 100;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    flex-direction: row-reverse;  
    justify-content: flex-start;

}

.logo p{
    font-size: 50px;
}

.Gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
   
}
.Gallery img{
    margin: 20px;
}

.Letras p{
    font-size: 30px;

}
.head2{
    display: flex;
   align-items: center;
   justify-content: space-around;
    height: 100px;
    background-color: #40920e;
    width: 100%;
    z-index: 100;
}
.iconos{
    display: flex;
    gap: 10px;
}

.iconos div{
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

